* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: white;
}

#hamburgericon {
    width: 32px;
    float: left;
    margin: 20px;
}

#logo {
    width: 190px;
    margin: auto;
}

#logo img {
    width: 190px;
}