html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: headingFont;
    src: url(fonts/slm_everlie.otf);
}

body {
    font-family: "ff-good-headline-web-pro-con", sans-serif;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding-top: 15px;
    text-align: center;
    background: #85adb4;
    color: #fff;
    text-decoration: none;
    font-family: bodyFont;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.6;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#scrollUp:hover {
    opacity: 1.0;
}

header {
    height: 100px;
    background-color: white;
}

#hamburgericon {
    width: 32px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#logo {
    width: 190px;
    margin: auto;
}

#logo img {
    width: 190px;
}

#horsdoeuvres {
    margin-top: 25em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    max-width: 700px;
}

.sectionheading {
    padding-bottom: 1em;
}

.menuitem h1:first-child {
    text-align: left;
    padding-left: 1em;
    padding-top: .7em;
    padding-bottom: .3em;
}

.menuitem p {
    text-align: left;
    padding-bottom: .3em;
    padding-left: 1.2em;
    width: 70%;
    font-weight: 300;
}

.menuitem p:last-child {
    text-align: right;
    padding-right: 1em;
    width: 100%;
    font-weight: 600;
}

.menuitem:nth-last-of-type(even) {
    background-color: #f4f4f4;
}

#salads {
    border-top: 1px solid #dedddd;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 2em;
    text-align: center;
    max-width: 700px;
}

#warning {
    text-align: left;
    padding: 1.6em;
    font-style: italic;
    font-size: 12px;
}

footer {
    background-color: #424242;
    color: white;
    width: 100%;
    height: 75px;
    font-size: 12px;
    text-align: center;
    padding-top: 3em;
}

/* desktop */
@media screen and (min-width:769px) {
    header {
        height: 110px;
    }
    
    #hamburgericon {
        visibility: hidden;
    }
    
    #logo {
        width: 245px;
        margin: auto;
    }

    #logo img {
        width: 245px;
    }
    
     /* jbar plug in */
    nav {
        background-color: #222222;
        padding-left: 18%;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    nav ul {
        text-align:center;
        margin: auto;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    nav ul li {
        float:left;
        display:inline;
    }
    
    nav ul li:hover {
        background: #424242;
    }
    
    nav ul li a {
        display:block;
        padding:15px 25px;
        color: white;
        text-decoration: none;
    }
    
    nav ul li ul {
        position:absolute;
        width:110px;
        background:#FFF;
        opacity: 0.85;
    }
    
    nav ul li ul li {
        width:110px;
    }
    
    nav ul li ul li a {
        display:block;
        padding:15px 10px;
        color:#444;
    }
    
    nav ul li ul li a:hover {
        color: #38728b;
    }
    
    nav ul li ul li:hover a {
        background:#F7F7F7;
    }
    
    nav ul li ul.fallback {
        display:none;
    }
    
    nav ul li:hover ul.fallback {
        display:block;
    }
    
    /* end of jbar plugin */
    #horsdoeuvres {
        margin-top: 46px;
        opacity: .9;
    }
    
    #salads {
        margin-top: 0;
        opacity: .9;
    }
}