html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: subheadFont;
    src: url('../fonts/Muli-Regular.ttf');
}

@font-face {
    font-family: bodyFont;
    src: url('../fonts/Muli-Light.ttf');
}

body {
    font-family: bodyFont;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding-top: 15px;
    text-align: center;
    background: #85adb4;
    color: #fff;
    text-decoration: none;
    font-family: bodyFont;
    font-size: 25px;
    font-weight: 600;
    opacity: 0.6;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#scrollUp:hover {
    opacity: 1.0;
}

header {
    height: 100px;
    background-color: white;
}

header h1 {
    display: none;
}

#hamburgericon {
    width: 32px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

#logo {
    width: 190px;
    margin: auto;
}

#logo img {
    width: 190px;
}

.order {
    margin-top: 25em;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    max-width: 700px;
    min-height: 700px;
}

.sectionheading {
    padding-bottom: 1em;
    font-family: subheadFont;
}

fieldset {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    border-top: 1px solid #999999;
}

legend {
    text-align: center;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    font-family: subheadFont;
}

#fullname {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 2em;
    margin-bottom: 1em;
    font-family: bodyFont;
}

#email {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 2em;
    margin-bottom: 1em;
    font-family: bodyFont;
}

#phone {
    border: 1px solid #999999;
    border-radius: 3px;
    height: 2em;
    margin-bottom: 1em;
    font-family: bodyFont;
}

label {
    font-size: 12px;
    padding-right: 1em;
}

select {
    font-family: bodyFont;
}

input[type="number"] {
    width: 30px;
    border: 1px solid #999999;
    border-radius: 3px;
    font-family: bodyFont;
}

input[type="button"] {
    background-color: #38728b;
    border-radius: 3px;
    color: white;
    height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 1em;
    font-family: bodyFont;
}

input[type="button"]:hover {
    background-color: #85adb4;
}

input[type="submit"] {
    background-color: #38728b;
    border-radius: 3px;
    color: white;
    height: 2em;
    padding-left: .5em;
    padding-right: .5em;
    margin-top: 1em;
    font-family: bodyFont;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #85adb4;
}

#orderreview p {
    font-family: bodyFont;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12px;
    padding-top: .5em;
}

#orderreview input[type="button"] {
    margin-left: .5em; 
}

#ordertotal p {
    font-family: bodyFont;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12px;
    padding-bottom: 2em;
    padding-top: 1em;
}

footer {
    background-color: #424242;
    color: white;
    width: 100%;
    height: 75px;
    font-size: 12px;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    clear: both;
}
    
/* desktop */
@media screen and (min-width:769px) {
    header {
        height: 110px;
    }
    
    #hamburgericon {
        visibility: hidden;
    }
    
    #logo {
        width: 245px;
        margin: auto;
    }

    #logo img {
        width: 245px;
    }
    
     /* jbar plug in */
    nav {
        background-color: #222222;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    nav ul {
        text-align: center;
        overflow: auto;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    nav ul li {
        display: inline-block;
    }
    
    nav ul li:hover {
        background: #424242;
    }
    
    nav ul li a {
        display:inline-block;
        padding:15px 25px;
        color: white;
        text-decoration: none;
    }
    
    nav ul li ul {
        position:absolute;
        width:110px;
        background:#FFF;
        opacity: 0.95;
        z-index: 999;
    }
    
    nav ul li ul li {
        width:110px;
    }
    
    nav ul li ul li a {
        display:block;
        padding:15px 10px;
        color:#444;
    }
    
    nav ul li ul li a:hover {
        color: #38728b;
    }
    
    nav ul li ul li:hover a {
        background:#F7F7F7;
    }
    
    nav ul li ul.fallback {
        display:none;
    }
    
    nav ul li:hover ul.fallback {
        display:block;
    }
    
    /* end of jbar plugin */
    
    .order {
        margin-top: 49px;
        opacity: .9;
        padding-bottom: 5em;
        min-height: 750px;
    }
    
    legend {
        font-size: 17px;
    }
    
    select {
        font-size: 14px;
        margin-top: 1em;
    }
    
    label {
        font-size: 14px;
    }
    
    input[type="number"] {
        font-size: 14px;
        width: 35px;
    }
    
    input[type="button"] {
        font-size: 14px;
    }
    
    input[type="submit"] {
        font-size: 14px;
    }
    
    #orderreview input[type="button"] {
        margin-left: 1em; 
        font-size: 12px;
    }
}